.para {
  display: inline-block;
  margin-right: 17px;
}

.img {
  width: 100%;
}

.ellipsis-container {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body span {
  font-weight: bold;
}

.action-icons {
  position: absolute;
  left: 80%;
}
